{% extends 'base.html.twig' %}

{% block title %}Site Arcadia Zoo
{% endblock %}


{% block body %}
	<div class="container">
		<div class"row">
			<div class="col">
				<h1>
					Binevenue sur le site Arcadia Zoo.</h1>
			</div>
		</div>

	</div>
{% endblock %}
