<footer class="footer text-white" style="background-color: #0B6121;" data-bs-theme="dark">
	<div class="row">
		<div class="col-lg-3 text-center mb-4">
			<a class="navbar-brand text-white" style="font-size: 35px;" href="{{ path('home')}}">Arcadia Zoo</a>
		</div>
		<div class="col-lg-3 text-center" style="font-size: 25px;">Nos horaires
			<p style="font-size: 16px;" class="text-white">Du Lundi au Vendredi
				<br>
				De 11h00 à 18h00</p>
		</div>
		<div class="col-lg-3 text-center" style="font-size: 25px;">Nos services
			<p style="font-size: 16px;" class="text-white">Restauration
				<br>
				Visite les habitats avec guide gratuit<br>
				Visite le Zoo en petit train<br></p>
		</div>
		<div class="col-lg-3 text-center" style="font-size: 25px;">Nous contacter
			<p style="font-size: 16px;" class="text-white">arcadia.zoo@gmail.com<br>
				Tel : 02 99 58 62 34</p>
		</div>
	</div>
</footer>
